<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075969081697-4subu0u7rsk330vglpik3uinnmel74mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075969081697-4subu0u7rsk330vglpik3uinnmel74mj</string>
	<key>API_KEY</key>
	<string>AIzaSyDzOvzWhQ-LoF_860i8fE1Q3ZO2E3pPOJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1075969081697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jirkasmela.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-11a84</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-11a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075969081697:ios:b997f33a21b78b51078520</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-11a84.firebaseio.com</string>
</dict>
</plist>